body {
    padding: 20px;
    font-family: 'Open Sans', 'Arial', sans-serif;
}
th, td {
    padding: 10px;
    border: 2px solid black;
}
th {
    cursor: pointer;
    background-color: black;
    color: #fff;
}
th span {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-top: 5px;
    width: 10px;
    height: 10px;
}
.arrow-down {
    display: none;
    transform: rotate(45deg);
    transform: rotate(45deg);
}
.arrow-down-active {
    display: block;
}
.arrow-up {
    display: none;
    transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.arrow-up-active {
    display: block;
}
th:hover {
    color: blue;
}
#block {
    overflow: hidden;
    position: relative;
    width: 300px;
    height: fit-content;
    border: 2px solid black;
    margin-bottom: 50px;
}
.block__move {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 5px solid transparent; 
    border-right: 5px solid silver; 
    border-bottom: 5px solid silver;
    cursor: nwse-resize;
}
.block__move:hover {
    border-right: 5px solid rgb(59, 41, 141); 
    border-bottom: 5px solid rgb(59, 41, 141);
}

textarea {
    padding: 10px;
    display: block;
    min-width: 600px;
    min-height: 100px;
    font-family: 'Open Sans', 'Arial', sans-serif;
}
h2 {
    margin: 30px 0;
}
